{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.totalCount > 0 %}
        {% set icon %}
            {{ source('@SweetAlert/collector/icon.svg') }}
            <span class="sf-toolbar-value">{{ collector.totalCount }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b class="sf-toolbar-label">Alerts</b>
                <span class="sf-toolbar-status">{{ collector.data.alerts|length }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b class="sf-toolbar-label">Toasts</b>
                <span class="sf-toolbar-status">{{ collector.data.toasts|length }}</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', {link: profiler_url}) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ include('@SweetAlert/collector/icon.svg') }}</span>
        <strong>UX SweetAlert</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>UX SweetAlert</h2>

    <h3>Alerts</h3>
    {{ include('@WebProfiler/Profiler/table.html.twig', { data: collector.data.alerts }) }}

    <h3>Toasts</h3>
    {{ include('@WebProfiler/Profiler/table.html.twig', { data: collector.data.toasts }) }}
{% endblock %}
